.main {
  background-color: #f2d97c;
}

.resourcesContainer {
  display: flex;
  align-items: center;
}
.resourceCard {
  height: 46px;
  display: flex;
  margin-bottom: 4px;
}
.resourceWrap {
    padding: 6px 10px 0;
    border: 1px solid;
    border-radius: 20px;
    margin: 0 5px;
    height: 84px;
  span {
    text-align: center;
    display: block;
    font-weight: bold;
    padding: 3px 0;
    border: 1px solid #000;
    border-radius: 20px
  }
  &:first-child {
    .capacityWrap {
      display: none;
    }
  }
}

.capacityWrap {
  width: 10px;
  border-radius: 2px;
  height: 100%;
  margin-left: 5px;
  position: relative;
  background-color: #8f6b3c;
}

.capacityBar {
  position: absolute;
  width: 10px;
  background-color: #90bd42;
  bottom: 0;
}

// склади

.werehouseWrap{
  display: flex;
  align-items: center;
  .werehouseImg{
    img{
      width: 170px;
    }
  }
  .werehouseBuildings{
    display: flex;
    .werehouseBuildings_img{
      position: relative;
      img{
        cursor: pointer;
        width: 70px;
      }
    }
    .building_wrap{
      
      border: 1px solid #8f6b3c;
      border-radius: 10px;
      display: flex;
      padding-right: 10px;
      p{
        white-space: nowrap;
      }
    }
    .allBuildings{
      background: rgb(206, 197, 118);
      padding: 6px;
      position: absolute;
      top: 0px;
      left: 80px;
    }
  }
}
.small_img{
  width: 17px;
  height: 17px;
  margin-right: 5px;
}